<p id="notice"><%= notice %></p>

<h1>Advisers</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>名前</th>
      <th>コメント</th>
      <th>評価</th>
      <th>年齢層</th>
      <th>曜日</th>
      <th>時間</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @advisers.each do |adviser| %>
      <tr>
        <td><%= image_tag adviser.avator_url(:thumb) %></td>
        <td><%= adviser.name %></td>
        <td><%= adviser.comment %></td>
        <td><%= adviser.rate %> / 5.0</td>
        <td><%= adviser.min_age %>〜<%= adviser.max_age %></td>
        <td><%= adviser.day_string %></td>
        <td><%= adviser.start_time.strftime("%H時%M分") %>〜<%= adviser.end_time.strftime("%H時%M分") %></td>
        <% if not adviser.rated?(current_user) then %>
          <td><%= link_to '評価する', new_adviser_rate_path(adviser) %></td>
        <% else %>
          <td colspan="1"></td>
        <% end %>
        <td><%= link_to '話をする', adviser_chat_path(adviser) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--
<%= link_to 'New Adviser', new_adviser_path %>
-->
