<%= form_with url: schedules_path, method: :post, local: true, :class => "form-group" do %>
<div class="row">
  <div class="col-md-12">
    <%= label_tag :need_time, '子供にかけたい時間' %>
  </div>
  <div class="col-md-8">
    <%= time_select '', :need_time, {:default => {:hour => '1', :minute => '00'}} %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= label_tag 'work[start_at]', '仕事が始まる時間' %>
  </div>
  <div class="col-md-8">
    <%= time_select '', :work_start_at, {:default => {:hour => '7', :minute => '00'}} %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= label_tag 'work[finish_at]', '仕事が終わる時間' %>
  </div>
  <div class="col-md-8">
    <%= time_select '', :work_finish_at, {:default => {:hour => '17', :minute => '00'}} %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= label_tag :oneway_commute_time, '通勤時間（片道）' %>
  </div>
  <div class="col-md-8">
    <%= time_select '', :oneway_commute_time, {:default => {:hour => '0', :minute => '20'}} %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= label_tag :must_task, 'やらないといけない課題の名前' %>
  </div>
  <div class="col-md-8">
    <%= text_field_tag :must_task %>
  </div>
</div>

  <%= submit_tag '送信する', :class => "btn btn-primary" %>
<% end %>
