<h1>サービス名</h1>

<% if user_signed_in? then %>
  <%= button_to "検索", search_new_path, {method: "get", class: "btn btn-default"} %>
  <%= button_to "評価", advisers_path, {method: "get", class: "btn btn-default"} %>
  <%= button_to "予約を確認する", reservation_index_path, {method: "get", class: "btn btn-default"} %>
  <%= button_to "スケジュール調整ツール", new_schedule_path, {method: "get", class: "btn btn-default"} %>
  <%= button_to "ログアウト", destroy_user_session_path, {method: "delete", class: "btn btn-default"} %>
<% else %>
  <%= button_to "ログイン", new_user_session_path, {method: "get", class: "btn btn-default"} %>
<% end %>
