<%= form_with(model: extent, local: true) do |form| %>
  <% if extent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extent.errors.count, "error") %> prohibited this extent from being saved:</h2>

      <ul>
      <% extent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :extent_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
