<%= form_with(model: rate, local: true, url: adviser_rates_path) do |form| %>
  <% if rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: @user.id %>
  <%= form.hidden_field :adviser_id, value: @adviser.id %>

  <div class="field">
    <%= form.label :rate %>
    <%= form.select :rate, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]] %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :rate_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
