<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rate.user %>
</p>

<p>
  <strong>Adviser:</strong>
  <%= @rate.adviser %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @rate.rate %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rate.comment %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
