<h1>相談予約</h1>
<table class="table">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>名前</th>
      <th>コメント</th>
      <th>評価</th>
      <th>年齢層</th>
      <th>曜日</th>
      <th>時間</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= image_tag @adviser.avator_url(:thumb) %></td>
      <td><%= @adviser.name %></td>
      <td><%= @adviser.comment %></td>
      <td><%= @adviser.rate %> / 5.0</td>
      <td><%= @adviser.min_age %>〜<%= @adviser.max_age %></td>
      <td><%= @adviser.day_string %></td>
      <td><%= @adviser.start_time.strftime("%H時%M分") %>〜<%= @adviser.end_time.strftime("%H時%M分") %></td>
    </tr>
  </tbody>
</table>

<form action="reservation" method="post" id="form" class="form-group">
  <div class="row">
    <div class="col-md-12">
      <label for="">日時</label>
    </div>
    <div class="col-md-4">
      <input type="datetime-local" name="datetime" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="place">場所</label>
    </div>
    <div class="col-md-4">
      <select name="place" class="form-control">
        <option value="0">東京</option>
        <option value="1">神奈川</option>
        <option value="2">埼玉</option>
        <option value="3">千葉</option>
      </select>
    </div>
  </div>
  <input type="submit" value="予約" class="btn btn-success">
</form>
